.conteudo{
    background-color: rgba(242, 242, 242, 1);
    height: 50px;
}
.rodape{
    background-color: rgba(98, 101, 114, 1);
    height: 50px;
}

/* Color Theme Swatches in RGBA */
.SFC-GRAPHIC-IDENTITY-1-rgba { color: rgba(98, 101, 114, 1); }
.SFC-GRAPHIC-IDENTITY-2-rgba { color: rgba(129, 139, 140, 1); }
.SFC-GRAPHIC-IDENTITY-3-rgba { color: rgba(216, 214, 210, 1); }
.SFC-GRAPHIC-IDENTITY-4-rgba { color: rgba(242, 242, 242, 1); }
.SFC-GRAPHIC-IDENTITY-5-rgba { color: rgba(12, 12, 12, 1); }